body{
    padding: 0;
    margin: 0;
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    position: relative;
    background-image: radial-gradient(at center 0px, rgb(39, 127, 131) -150%, rgb(46, 54, 68) 45%, rgb(46, 54, 68) 85%);
    min-height: 120px;
    border: 1px solid rgb(102, 102, 102);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    width: 70%;
}
.login-info{
    width: 360px;
    height: 100%;
}
.or{
    color: white;
    margin: 0 .5em;
    font-weight: 800;
    font-size: 1em;
}
.fa-edit, .fa-lock{
    margin: 3em 0;
}
.fa-lock::before{
    background: radial-gradient(at center 0px, rgb(93, 255, 168) -5%, rgb(39, 126, 131) 90%, rgb(39, 127, 131) -112%);
}
.registration, .enter{
    border: 1px solid rgba(239, 237, 239, 0.301);
    padding: .59em 0;
}
.enter-text{
    color: rgba(93, 255, 169, 0.616);
}
.registration-text, .enter-text{
    padding: 0 1em;
    text-transform: uppercase;
    font-weight: 800;
}
.registration:hover, .enter:hover{
    border: 1px solid rgba(239, 239, 237, 0.658);
}
.or-text{
    margin: 0 1em;
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(208, 205, 200); 
}
.fa-edit::before{
    background: url('../images/img/stripe.png');
}
.fa-lock::before, .fa-edit::before{
    border-right: 1px solid rgba(239, 237, 239, 0.274);
    padding: .594em;
}
.nav-wrapper{
    background-color: rgb(39,44,55);
    padding: .1em;
    border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;
}
.menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}
.menu ul li a{
    padding: 1em 1.5em 1em 1.5em;
    border-left: 1.5px solid #2e3644;
    background-color: rgb(39,44,55);
    color: rgb(194, 190, 183);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}
.menu ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: #17181c;
}
.menu ul li:last-child a{
    border-right: 1.5px solid #2e3644;
}
.menu ul li a i, .fa-newspaper, a i.fa-gamepad, .fa-clock, .fa-exchange-alt, .fa-trophy, .fa-star, .fa-eye{
    padding-right: .5em;
    color: rgb(93, 255, 168);
}
.slider-wrapper{
    height: 400px;
    overflow: hidden;
    position: relative;
    border-top: 1px solid #666666;
}
.slider-wrapper ul, .viewport ul li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.slider{
    position: absolute;
    left: 0;
    top: 0;
}
.slider-image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.video-block{
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.top-layer{
    display: block;
    width: 100%;
    height: 99.5%;
    background-image: url("../images/img/bg-dark-4799.png");
    position: absolute;
    opacity: 0.8;
}

/*       главный блок       */

.main-content{
    width: 96%;
    margin: 0 auto;
    color: white;
    background-color: rgba(39, 44, 55, 0.4);
    padding: 1em 0;
}
.news-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 300px;
    border: 1px solid #666666;
    flex-wrap: wrap;
}
.news-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(.5);
    z-index: 1;
}
.news-header{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    border: 1px solid #666666;
    padding: .8em;
    margin-bottom: 0;
    background: #2e3644 url("../images/img/stripe.png");
}
.news-block{
    display: block;
    overflow: hidden;
}
.news-title{
    position: absolute;
    z-index: 2;
    max-width: 60%;
    max-height: 40%;
    top: 70%;
    left: 10%;
    overflow-wrap: break-word;
}
.title-text{
    font-size: 1.5em;
}

/*      блок матчей и трансферов*/

.matches-transfer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}
.tournament-img{
    height: 37px;
    width: 80px;
    object-fit: cover;
    padding-right: .8em;
}
.matches-content{
    display: block;
    width: 100%;
    position: relative;
}
.match-href{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #666666;
    min-height: 40px;
    background-color: rgb(39,44,55);
    align-items: center;
}
.translation-wrapper{
    margin-left: 1em;
}
.tournament-image{
    max-width: 50px;
}
.teams-wrapper{
    font-size: 18px;
    font-weight: 900;
}
.first-team, .second-team{
    text-transform: uppercase;
}
.vs{
    font-style: normal;
}
.transfer-href{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border: 1px solid #666666;
    background-color: rgb(39,44,55);
}
.discipline-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin-left: 5px;
}
.transfer{
    margin-right: auto;
}
.matches-header, .tournament-header, .preview-window-title, .administration-panel-title, .teams-title, .line-up-title, .description-title, .prize-places-header, .matches-block-header{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    border: 1px solid #666666;
    padding: .8em;
    margin: 0;
    background: #2e3644 url("../images/img/stripe.png");
}
.matches-block, .tournament-index-wrapper{
    width: 65%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.tournament-wrapper, .tournament-indexx-wrapper{
    position: relative;
    width: 100%;
}
.transfer-block, .facts{
    width: 34%;
    background-color: rgb(39,44,55); 
    height: 100%;
}
.second-slide{
    position: relative;
}
.transfer-header{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    border: 1px solid #666666;
    padding: .8em;
    margin: 0;
    background: #2e3644 url("../images/img/stripe.png");
}
/*    конец блока матчей и трансферов*/

/*     блок турниров и интересных фактов*/

.tournament-facts-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fact-wrapper{
    font-weight: 800;
    padding: 1.5em;
    border: 1px solid #666666;
    font-size: 1em;
}
.fact-title{
    text-align: center;
    margin-top: 0;
    font-size: 1.5em;   
}
.tournament-block-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #666666; /*#424f5a*/
    background-color: rgb(39,44,55);
}
.tournament-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    color: rgb(166, 198, 203);
    padding: .5em 2em .5em 2em;
    cursor: pointer;
    font-weight: 800;
    width: 100%;
}
.checkbox-del-tour{
    border-radius: 5px;
    margin: 0 .8em;
    width: 20px;
    height: 20px;
    border: 2px solid #666666;
    cursor: pointer;
}
.checkbox-del-tour:hover{
    border: 2px solid rgb(186, 181, 171);
}
.checkbox-del-tour i{
    color: rgb(93, 255, 168);
    font-size: 18px;
    display: none;
}
.tournament-name{
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
}
.tournament-title-img{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.date-prize{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 40%;
}
.date{
    flex-grow: .8;
}

/*     конец блока турниров и интересных фактов*/
/*     owlcarousel classes       */
.owl-prev{  /*кнопка назад*/
    position: absolute;
    top: 40%;
    left: -1.5%;
}
.owl-next{ /*кнопка вперед*/
    position: absolute;
    top: 40%;
    right: -1.5%;
}
.fa-chevron-circle-right, .fa-chevron-circle-left{ /*иконки вперед и назад*/
    font-size: 40px;
    color: rgb(93, 255, 168);
}
.owl-dot{
    border: 1px solid #666666;
    width: 30px;
    height: 10px;
    background-image: bottom, #1a1b1f, #2a2a34;
}
/*       end owl-carousel                   */

/*  tabs block  */
.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.tabs li{
    list-style: none;
    background-color: #2e3644;
    padding: .5em;
}
.tabs li:nth-child(2n){
    border-right: 2px solid #666666;
    border-top: 2px solid #666666;
    border-left: 2px solid #666666;
}
.tabs li:nth-child(3n){
    border-right: 2px solid #666666;
    border-top: 2px solid #666666;
    border-top-right-radius: 5px;
}
.tabs li:first-child{
    border-top-left-radius: 5px;
    border-left: 2px solid #666666;
    border-top: 2px solid #666666;
}
.tab-link.current{
   background-color: #666666;
}
.tabs li a{
    text-transform: uppercase;
    font-weight: 900;   
    padding: .5em 1em .5em 1em;
}
.tabs li:hover{
    background-color: #666666;
}
.tab-content.current{
    color: white;
    display: block;
}
.tab-content, #del-tour{
    display: none;
}

/*    match page    */

/* invisible-block */

.triangle-enter{
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #666666;
    width: 0px;
    position: absolute;
    right: 55px;
    top: -41px;
}
.triangle-registration{
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #666666;
    width: 0px;
    position: absolute;
    right: 296px;
    top: -41px;
}
.enter-invisible, .registration-invisible{
    display: none;
    color: white;
    width: 350px;
    border: 1px solid #666666;
    border-radius: 3px;
    margin: 1em;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 99px;
}
.enter-header, .registration-header{
    background: url('../images/img/stripe.png') #2e3644;
    border: 1px solid #666666;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: .3em 0;
}
i.fa-times{
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.enter-main, .registration-main{
    background-color: rgb(39,44,55);   
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    padding: 1em;
}
input{
    border: 2px solid #666666;
    border-radius: 5px;
}
.login-password input{
    margin-bottom: 1em;
    padding: .5em 0 .5em .5em;
    width: 97%;
}
input:focus, button:focus, button:active, input:active{
    outline: none;
}
.remember-forgot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}
.remember-forgot label span{
    vertical-align: top;
}
.forgot{
    color: rgb(93, 255, 168); 
}
.enter-main input[type="button"], .registration-main input[type="button"]{
    width: 100%;
    color: white;
    font-weight: 700;
    background: radial-gradient(at center 0px, rgb(93, 255, 168) -90%, rgb(39, 127, 131) 82%, rgb(39, 127, 131) 150%);
    border: 1px solid rgb(39, 127, 131);
    padding: .5em 0;
    border-radius: 5px;
    cursor: pointer;    
    font-size: 20px;
}
/* end invisible block*/

.footer{
    color: white;
    padding: 1em;
    border: 1px solid #666666;
    background-color: rgb(39,44,55);
    text-align: center;
    font-weight: 800;
    font-size: 1em;
}

/* administration panel styles*/
.fa-plus-circle::before{
    color: rgb(93, 255, 168);
    padding-right: .5em;  
}
.fa-minus-circle::before{
    color: rgba(255, 0, 0, 0.705);
    padding-right: .5em;
}
.add-tournament, .delete-tournament, .hide-administration-panel{
    background: rgb(39,44,55);
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: .5em;
    font-weight: 800;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
.hide-administration-panel i.fa-eye, .add-tournament i.fa-plus-circle, .delete-tournament i.fa-minus-circle, .hide-administration-panel i.fa-eye-slash{
    color: white;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
}
.hide-administration-panel i.fa-eye::before, .hide-administration-panel i.fa-eye-slash::before{
    padding-right: .5em;
    color: rgb(93, 255, 168);
}
.administration-panel-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    display: none;
}
label.checkbox-del-tour{
    display: none;
}
.administration-panel{
    width: 50%;
    background: rgb(39,44,55);
}
.admin-form{
    padding: 1em;
    margin: 0;
    border: 1px solid #666666;
}
.admin-form li{
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: 1.5em;
    margin: .5em 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.admin-form li>input, .admin-form li>div.numeric-field{
    max-width: calc(100%/1.9);
    flex-grow: 5;
}
.image-block-wrapper{
    width: 80px;
    height: 37px;
}
.fa-file-upload::before{
    font-size: 50px !important;
    position: absolute;
    top: 10px;
    left: 32px;
    color: #666666;
    font-size: 1em;
}
#logo-tournament{
    display: none;
}
.file-label{
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    border: 2px dashed #666666;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto;
}
.file-label:hover{
    border: 2px solid rgb(186, 181, 171);
    transition: 200ms color;
}
label.file-label:hover > i.fa-file-upload::before{
    color: rgb(186, 181, 171);
    transition: 200ms color;
}
label.file-label:hover > i span{
    color: rgb(186, 181, 171);
}
label.file-label span{
    position: absolute;
    bottom: 5px;
    font-size: 14px;
    text-align: center;
    color: #666666;
}
input[type=number]::-webkit-inner-spin-button, /* сброс стрелок в input number*/
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
    width: 75%;
    height: 22px;
}
div.numeric-field>i.fa-plus-circle::before, div.numeric-field>i.fa-minus-circle::before{
    padding: 0 !important;
    vertical-align: sub;
    cursor: pointer;
}
.preview-window-wrapper{
    width: 49%;
}
button[type="reset"], button[type="submit"], button#preview{
    color: white;
    font-weight: 700;
    background: radial-gradient(at center 0px, rgb(93, 255, 168) -90%, rgb(39, 127, 131) 82%, rgb(39, 127, 131) 150%);
    border: 1px solid rgb(39, 127, 131);
    padding: .5em .5em;
    border-radius: 5px;
    cursor: pointer;
    font-size: .7em;
}


/* end administration panel styles*/

/* scrollbar styles */

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}   
::-webkit-scrollbar-track {
    background-color: #1c1e1f;
} 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #2a2c2e;
}  
::-webkit-scrollbar-thumb:hover{
    background-color: #3a3a3a;
}   
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}  
::-webkit-scrollbar{
    width: 15px;
}

/* end scrollbar styles*/


/* styles for tournament page */

.tournament-bg-wrapper{
    background: url(../images/img/bg-dark-4799.png);
    position: relative;
}
.tournament-bg{
    width: 100%;
    height: 300px;
    background: url(../images/img/tournament_bg.png) no-repeat 0% 10%;
    background-size: cover;
    opacity: .2;
}
.tournament-title{
    color: white;
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    width: 100%;
    text-align: center;
    top: 50%;
}
.tournament-page-block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tournament-info-block{
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid #666666;
    background-color: rgb(39,44,55);
    font-size: 16px;
    height: 100%;
}
.tournament-info-block img{
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.tournament-info-title{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    padding: 1em 0;
    text-align: center;
}
.begDate-block, .prize-block, .seria-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .4em 0;
}
.begDate-block, .prize-block, .seria-block{
    border-bottom: 1px solid #666666;
}
.prize{
    font-weight: 900;
}
.seria{
    cursor: pointer;
    color: rgb(82, 187, 220);
}
.seria:hover{
    text-decoration: underline;
    color: #2faee7;
}
.teams-wrapper-block{
    width: calc(150px*6);
}
h3.teams-title i.fa-users::before{
    padding-right: .5em;
    color: rgb(93, 255, 168);
}
.teams-block{
    padding: 1em;
    background-color: rgb(39,44,55);
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    border-left: 1px solid #666666;
    cursor: pointer;
}
.team-block{
    width: 120px;
    text-align: center;
    border: 1px solid #666666;
    padding: .5em 0;
    position: relative;
    margin: .5em;
    text-overflow: ellipsis;    
    white-space: nowrap;
    overflow: hidden;
    background: #2e3644 url("../images/img/stripe.png");
    color: rgb(166, 198, 203);
}
.team-block-wrapper{
    width: 100%;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.team-logo{
    width: 100%;
    top: 30px;
    position: absolute;
    left: 0;
    object-fit: contain;
    height: 70%;
    z-index: 1;
}
.players-wrapper-block{ 
    display: flex;
    flex-direction: column; 
    padding: 1em .5em;   
    margin-bottom: 1em;   
    min-height: 70%;   
    align-items: flex-start;
    opacity: 0;
}
.players-block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.player-country{
    max-width: 15px;
    object-fit: cover;
}
.position-block{
    flex-grow: 1.5;
}
.invite{
    position: absolute;
    bottom: 5px;
    margin: 0 auto;
    width: 100%;
    left: 0;
}
a.invite, a.team-title{
    color: rgb(166, 198, 203);
}
a.invite:hover, a.team-title:hover{
    text-decoration: underline;
    color: rgb(82, 187, 235);
}
.matches-prize-places-block-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
}
.matches-block-wrapper{
    width: 70%;
}
.prize-places-block-wrapper{
    width: 25.4%;
}
.fa-gamepad::before, .fa-info::before, .fa-users::before{
    padding-right: .5em;
    color: rgb(93, 255, 168);
}
.match-block-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    background-color: #2e3644;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    padding: .5em 0;  
}
.tournament-date-block img{
    height: 17px;
    width: 60px;   
    object-fit: contain;
    vertical-align: top;
}
.teams-block-wrapper img{
    width: 17px;
    height: 17px;
    vertical-align: bottom;
}
h3.prize-places-header{
    margin-top: 36px;
}
/* end styles for tournament page*/

/*  styles for teams page*/
.team-info-wrapper{
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid #666666;
    padding: 1em;
    background-color: #2e3644;
}
.country{
    width: 17px;
    vertical-align: bottom;
}
.country-block, .team-prize-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #666666;
    padding-top: .5em;
}
.flag{
    width: 180px;
    height: 180px;
    margin: 0 auto;
}
span.team-title{
    text-align: center;
    padding: 1em 0;
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
}
.team-info-description-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em;
}
.description-wrapper{
    width: 70%;
}
.description-block{
    background-color: #2e3644;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    padding: 1em;
}
.player-photo{
    width: 100%;
}
.line-up-block{
    width: 175px;
    border: 1px solid #666666;
    margin: 1em;
}
.line-up-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/*  end styles for teams page*/