body{
    padding: 0;
    margin: 0;
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    position: relative;
    background-image: radial-gradient(at center 0px, rgb(39, 127, 131) -150%, rgb(46, 54, 68) 45%, rgb(46, 54, 68) 85%);
    min-height: 120px;
    border: 1px solid rgb(102, 102, 102);
}
.register-text, .enter-text{
    text-transform: uppercase;
    font-weight: 800;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: .5em;
}
.fa-user-edit, .fa-lock{
    margin: 3em 0;
}
.or-text{
    margin: 0 1em;
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(208, 205, 200); 
}
.fa-lock::before, .fa-user-edit::before{
    text-transform: uppercase;
    font-weight: 800;
    border: 1px solid #000;
    padding: .5em;
}
.fas.fa-user-edit::before:hover{
    padding: 1.5em;
}
.login-info{
    position: absolute;
    right: 1.5em;
    height: 100%;
    background: url("../images/img/lock.png") no-repeat 65%;
}
.nav-wrapper{
    background-color: rgb(39,44,55);
    padding: .1em;
    border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;
}
.menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}
.menu ul li a{
    padding: 1em 1.5em 1em 1.5em;
    border-left: 1.5px solid #2e3644;
    background-color: rgb(39,44,55);
    color: rgb(194, 190, 183);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}
.menu ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: #17181c;
}
.menu ul li:last-child a{
    border-right: 1.5px solid #2e3644;
}
.menu ul li a i, .fa-newspaper, .fa-gamepad, .fa-clock{
    padding-right: .5em;
    color: rgb(93, 255, 168);
}
.slider-wrapper{
    height: 400px;
    overflow: hidden;
    position: relative;
    border-top: 1px solid #666666;
}
.slider-wrapper ul, .viewport ul li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.slider{
    position: absolute;
    left: 0;
    top: 0;
}
.slider-image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.video-block{
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.top-layer{
    display: block;
    width: 100%;
    height: 99.5%;
    background-image: url("../images/img/bg-dark-4799.png");
    position: absolute;
    opacity: 0.8;
}

/*       главный блок       */

.main-content{
    width: 96%;
    margin: 0 auto;
    color: white;
}
.news-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 300px;
    border: 1px solid #666666;
    flex-wrap: wrap;
}
.news-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(.5);
    z-index: 1;
}
.news-image:hover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    flex-wrap: wrap;
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}
.news-header, .tournament-header, .matches-header{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    border: 1px solid #666666;
    padding: .8em;
    margin-bottom: 0;
    background: #2e3644 url("../images/img/stripe.png");
}
.news-block{
    display: block;
    overflow: hidden;
}
.news-title{
    position: absolute;
    z-index: 2;
    max-width: 60%;
    max-height: 40%;
    top: 70%;
    left: 10%;
    overflow-wrap: break-word;
}
.title-text{
    font-size: 1.5em;
}
.title-text:hover{
    color: rgb(0,255,102);
}
.tournament-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #666666;
}
.tournament-block:nth-child(2n){
    min-width: 49.5%;
    min-height: 200px;
    max-width: 49.5%;
    max-height: 500px;
    position: relative;
    border-left: 1px solid #666666;
}
.tournament-block:nth-child(2n+1){ /* блок турнира */
    min-width: 49.5%;
    min-height: 200px;
    max-width: 49.5%;
    max-height: 500px;
    position: relative;
    border-right: 1px solid #666666;
}
.tournament-href{ /* ссылочный блок турнира*/
    display: block;
    width: 100%;
    height: 100%;
}
.tournament-status{ /* статус турнира */
    position: absolute;
    right: 0;
    top: 0;
    padding: .5em 1em .5em 1em;
    text-transform: uppercase;
}
/*     owlcarousel classes       */
.owl-prev{  /*кнопка назад*/
    position: absolute;
    top: 40%;
    left: -1.5%;
}
.owl-next{ /*кнопка вперед*/
    position: absolute;
    top: 40%;
    right: -1.5%;
}
.fa-chevron-circle-right, .fa-chevron-circle-left{ /*иконки вперед и назад*/
    font-size: 40px;
    color: rgb(93, 255, 168);
}
.owl-dot{
    border: 1px solid #666666;
    width: 30px;
    height: 10px;
    background-image: bottom, #1a1b1f, #2a2a34;
}
/*       end owl-carousel                   */

/*  matches block  */
.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tabs li{
    list-style: none;
    border: 1px solid #026340;
}
.tab-link.current{
   background-color: #026340;
}
.tabs li a{
    text-transform: uppercase;
    font-weight: 900;   
    padding: .5em 1em .5em 1em;
}
.tabs li:hover{
    background-color: #026340;
}
.tab-content.current{
    display: block;
}
.tab-content{
    display: none;
}

/*    match page    */
.bacground-image{
    max-height: 25%;
}